<% include layout/header.ejs %>
  <section class="header">
    <video autoplay loop class="video-background" muted plays-inline>
      <source src="/videos/background.mp4" type="video/mp4">
    </video>
    <form class="box" method="post">
      <% include layout/log.ejs %>
    </form>
  </section>
<% include layout/end.ejs %>