<% include layout/header.ejs %>
  <section class="header">
    <video autoplay loop class="background" muted plays-inline>
      <source src="/videos/background.mp4" type="video/mp4">
    </video>
      <% include layout/log.ejs %>
  </section>
<% include layout/end.ejs %>