<% include layout/header.ejs %>
    <% include layout/head.ejs %>
    <img src="/images/samurai-les-vsadnik-ubiistvo-bryzgi.jpg" alt="" class="backgroundImg">
    <% if(user.id == "5cc920f41717053a70a4a510") { %>
        <div class="boxCard">
            <form method="post" class="CardCreate">
                <div class="items">
                    <input type="text" name="title" class="input w" placeholder="Заголовок" > 
                </div>
                <div class="items">
                    <textarea name="body" cols="30" rows="10" class="text" placeholder="Новость" ></textarea>
                </div> 
                <div class="items">
                    <button type="submit" class="but">Создать</button>
                </div>
            </form>
        </div>

    <% } else{ %>
        <h1>У вас нет прав сдесь находится</h1>
    <% } %>

    <% include layout/footer.ejs %>
<% include layout/end.ejs %>