<% include layout/header.ejs %>
    <% include layout/head.ejs %>

    <div class="container_news">

        <% if(user.id == "5cc920f41717053a70a4a510") { %>
            <h1>в скором будующем появица возможность администрирования</h1>
            <% posts.forEach(function(post){ %>
                <div class="card_news">
                    <h1><%= post.title %></h1> 
                    <p><%= post.body %></p>
                </div>
            <% }); %>
        <% } else{ %>
            <% posts.forEach(function(post){ %>
                <div class="card_news">
                    <h1><%= post.title %></h1> 
                    <p><%= post.body %></p>
                </div>
            <% }); %>
        <% } %>

    </div>

    <% include layout/footer.ejs %>
<% include layout/end.ejs %>