<% include layout/header.ejs %>
<img src="/images/WALAP.png" class="fon" alt="">

    <% include layout/head.ejs %>

    <div class="content">
        <div class="card">
            <img src="/images/logo_0.png" alt="">
        </div>
        <div class="card">
            <img src="/images/logo_1.png" alt="">
        </div>
        <div class="card">
            <img src="/images/logo_2.png" alt="">
        </div>
    </div>

    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>

    <!-- VK Widget -->
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 127607773, {expanded: "1",tooltipButtonText: "Есть вопрос?"});
    </script>

    <% include layout/footer.ejs %>

<% include layout/end.ejs %>