<% include layout/header.ejs %>
<img src="/images/WALAP.png" class="fon" alt="">

    <% include layout/head.ejs %>

    <div class="content">
        <div class="card">
            <img src="/images/logo_0.png" alt="">
        </div>
        <div class="card">
            <img src="/images/logo_1.png" alt="">
        </div>
        <div class="card">
            <img src="/images/logo_2.png" alt="">
        </div>
    </div>

    <% include layout/footer.ejs %>

<% include layout/end.ejs %>