<footer>
    <div>
      <p>Партнёры</p>
    </div>
    <div>
      <img src="/images/logo_3.png" alt="">
    </div>
    <div>
      <p>2019 год</p>
      <p> Автор:　Антон Гончаров 「アントン ゴンチャロフ」 </p> 
      <p>github: https://github.com/AntonGoncharov1999</p>
    </div>
</footer>