  <form method="post" class="register box">
    <h2>Регистрация</h2>
    <div class="form-group">
      <input type="text" id="register-login" name="login" placeholder="Логин" />
    </div>
    <div class="form-group">
      <input type="password" id="register-password" name="password" placeholder="Пароль" />
    </div>
    <div class="form-group">
      <input type="password" id="register-password-confirm" name="passwordConfirm" placeholder="Повторный пароль" />
    </div>
    <div class="buttons">
      <button class="register-button " >Регистрация</button>
    </div>
    <a href="/autorization">Вход</a>
  </form>