  <form method="post" class="register box">
    <h2>Регистрация</h2>
    <div class="form-group">
      <label for="register-login">Логин</label>
      <input type="text" id="register-login" name="login" placeholder="login" />
    </div>
    <div class="form-group">
      <label for="register-password">Пароль</label>
      <input type="password" id="register-password" name="password" />
    </div>
    <div class="form-group">
      <label for="register-password-confirm">Повтори пароль</label>
      <input type="password" id="register-password-confirm" name="passwordConfirm" />
    </div>
    <div class="buttons">
      <button class="register-button " >Регистрация</button>
    </div>
    <a href="/autorization">Вход</a>
  </form>